* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Delauney";
    background-image: linear-gradient(to bottom, #9ce0f591, #fff, #550519d2);
  }
  
  .header {
    text-align: center;
    font-style: bold;
    padding: 16px;
    background-color: #550519;
    color: #fdb347;
    border-bottom: 8px solid #fdb347;

  }
  
  h1 {
    letter-spacing: 15px;
  }

  h2 {
    font-family: "Franklin Gothic";
    color: #fff;
    font-style: normal;
    letter-spacing: 5px;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    border: 4px solid #fdb347;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  
